/* Vars */
:root {
    --aqua: #92cccd;
    --mediumBlue: #435977;
    --deepBlue: #31333e;
    --darkGray: #31343d;
    --offWhite: #edeef6;
}

/* Global */

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--offWhite);
}

/* Typography - Sizing & Color */

h1, p, a {
    color: var(--darkGray);
}

h2 {
    color: var(--mediumBlue);
}

h3, h4 {
    font-weight: normal;
}

h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 1.2rem;
}

/* Header */
header {
    background-color: var(--darkGray);
    padding: 20px 0;
}

header h1 {
    background-color: var(--aqua);
    padding: 5px;
    text-align: center;
}

/* Nav */

nav {
    color: var(--aqua);
    text-align: center;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 5px 2px 5px;
}

nav ul li a {
    color: var(--aqua);
    border-bottom: 3px solid var(--aqua);
    text-decoration: none;
    padding: 3px 5px;
}

nav ul li a:hover {
    color: var(--offWhite);
    border-bottom: 3px solid var(--offWhite);
}

/* Banner */

.banner {
    background-image: url(../img/placeimg_1000_300_tech.jpeg);
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner p {
    background-color: var(--aqua);
    padding: 5px;
    font-size: 1.75rem;
}

/* Main */

main {
    padding: 0 40px;
}

main p {
    margin-bottom: 10px;
}

/* Sections */

section {
    margin-bottom: 40px;
}

.sectionTitle h2 {
    border-bottom: 3px solid var(--mediumBlue);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.sectionBody {
    margin-top: 5px;
}

/* Project Cards */

.projectCard {
    height: 200px;
    margin-bottom: 20px;
    border: 5px solid var(--aqua);
    display: flex;
    align-items: flex-end;
    background-size: cover;
    position: relative;
}

.projectCard:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.projectCard:hover::before {
    opacity: 1;
}

.projectTitle {
    background-color: var(--aqua);
    padding: 10px;
    margin-bottom: 20px;
    display: block;
    z-index: 1;
    text-decoration: none;
}

.projectTitle::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
}

.projectTitle span {
    font-size: .8rem;
}

.projectOne:before {
    background: url(../img/placeimg_1000_500_nature-1.jpeg) no-repeat;
    background-size: cover;
}

.projectTwo:before {
    background: url(../img/placeimg_1000_500_nature-2.jpeg) no-repeat;
    background-size: cover;
}

.projectThree:before {
    background: url(../img/placeimg_1000_500_nature-3.jpeg) no-repeat;
    background-size: cover;
}

.projectFour:before {
    background: url(../img/placeimg_1000_500_nature-4.jpeg) no-repeat;
    background-size: cover;
}

.projectFive:before {
    background: url(../img/placeimg_1000_500_nature-5.jpeg) no-repeat;
    background-size: cover;
}

/* Footer */

footer {
    margin-bottom: 40px;
    padding: 0 40px;
    text-align: right;
}

footer li {
    margin-bottom: 15px;
    display: inline;
}

footer a {
    border-bottom: 3px solid var(--mediumBlue);
    text-decoration: none;
    padding: 3px 5px;
}

footer a:hover {
    border-bottom: 3px solid var(--aqua);
}

/* Larger than tablet */

@media (min-width: 750px) {

    /* Header */
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    header h1 {
        padding-left: 40px;
        padding-right: 20px;
    }

    header nav {
        padding-right: 40px;
    }

    /* Banner */

    .banner {
        justify-content: end;
    }

    .banner p {
        padding-right: 40px;
        padding-left: 20px;
    }

    /* Sections */

    section {
        display: flex;
    }

    .sectionTitle {
        flex: 1 20%;
        text-align: right;
        padding-right: 10px;
    }

    .sectionTitle h2 {
        border-bottom: none;
        font-size: 2.2rem;
    }

    .sectionBody {
        flex-basis: 80%;
        border-left: 3px solid var(--mediumBlue);
        padding-left: 20px;
    }

    /* Projects */

    #projects .sectionBody {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .projectCard {
        flex-basis: 48%;
    }

    .projectOne {
        flex-basis: 100%;
    }

    /* Footer */

    footer {
        display: flex;
        text-align: left;
    }

    footer li {
        margin-right: 40px;
    }
}