/* Vars */
:root {
    --aqua: #92cccd;
    --mediumBlue: #435977;
    --deepBlue: #31333e;
    --darkGray: #31343d;
    --offWhite: #edeef6;
}

/* Global */

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--offWhite);
}

/* Typography - Sizing & Color */

h1, h2, p, a {
    color: var(--darkGray);
}

h3, h4 {
    font-weight: normal;
}

h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: .8rem;
}

/* Header */
header {
    background-color: var(--darkGray);
    padding-top: 20px;
}

header h1 {
    background-color: var(--aqua);
    padding: 5px;
    text-align: center;
}

/* Nav */

nav {
    color: var(--aqua);
    text-align: center;
    margin: 10px 0 20px 0;
}

nav ul li {
    display: inline;
    margin-bottom: 2px;
}

nav ul li a {
    color: var(--aqua);
    border-bottom: 3px solid var(--aqua);
    text-decoration: none;
    padding: 3px 5px;
}

/* Banner */

.banner {
    background-image: url(../img/placeimg_1000_300_tech.jpeg);
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner p {
    background-color: var(--aqua);
    padding: 5px;
    font-size: 1.5rem;
}

/* Main */

main {
    padding: 0 40px;
}

main p {
    margin-bottom: 10px;
}

/* Sections */

section {
    margin-bottom: 40px;
}

.sectionTitle h2 {
    border-bottom: 3px solid var(--mediumBlue);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.sectionBody {
    margin-top: 5px;
}

/* Projects */

.projectCard {
    height: 200px;
    margin-bottom: 20px;
    border: 3px solid var(--aqua);
    display: flex;
    align-items: flex-end;
}

.projectTitle {
    background-color: var(--aqua);
    padding: 10px;
    margin-bottom: 20px;
}

.projectTitle h3 {
    margin-bottom: 5px;
}

/* Footer */
footer {
    margin-bottom: 40px;
    padding: 0 40px;
    text-align: right;
}

footer li {
    margin-bottom: 15px;
}

footer a {
    border-bottom: 3px solid var(--mediumBlue);
    text-decoration: none;
    padding: 3px 5px;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}