/* Vars */
:root {
    --aqua: #92cccd;
    --mediumBlue: #435977;
    --deepBlue: #31333e;
    --darkGray: #31343d;
}

/* Typography - Size & Color */
h1, h2, p {
    color: var(--darkGray);
}

nav {
    color: var(--aqua);
}

/* Header */
header {
    background-color: var(--darkGray);
}

header h1 {
    background-color: var(--aqua);
    text-align: center;
}

.phone {
    position: relative;
    max-width: 80%;
    margin: 3rem auto -12rem;
}

.phone+.phone {
    display: none;
}

/* Sections */
.section {
    padding: 8rem 0 7rem;
    text-align: center;
}

.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

/* Footer */
footer {
    border-bottom: 1px solid #ddd;
}

/* Categories */
.categories {
    background-image: url('../images/values-bg.jpg');
    background-size: cover;
    color: #fff;
}

.categories .section-description {
    margin-bottom: 4rem;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}